<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0">
    <servers>
        <server>
            <id>acada_snapshot</id>
            <username>admin</username>
            <password>obiking1010</password>
        </server>
        <server>
            <id>acada_release</id>
            <username>admin</username>
            <password>obikin1010</password>
        </server>
    </servers>
</settings>
